body {
  padding: 1%;
  background-image: url("images/background1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  max-width: 100px;
}
main {
  background: linear-gradient(180deg, rgb(113, 176, 235), rgb(231, 231, 114));
  opacity: 0.9;
}
i {
  color: whitesmoke;
}
